.principio{
    background-image: url(../assets/hernan.png); 
    background-position: -160px;
    position: relative;
    
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #ffffff ;
        opacity: .6;
    }
    
}

.plan{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.page{
    margin: 15px;
}

.botoncito {
    translate: 450px -100px;
    color: black;
    background-color: #ffffff;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   .botoncito::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .botoncito:hover::before {
    width: 9em;
   }

   .historia{
    background-color: black;
   }

   #about{
    color: black;
   }

   .titulo{
    position: relative;
    color: #1B2F62;
   }

   .titulo-1{
    position: relative;
    color:rgba(255,128,0,1) ;
   }

   #plan-t{
    background-color: black; 
    color: white;
   }

   .btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgb(255, 255, 255);
    z-index:100;
    transition: all 300ms ease;
  }
  
  .btn-wsp:hover{
    background: #20ba5a;
  }
  @media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
  }
  }